<a href="https://colab.research.google.com/github/nandithashetty/Applications-of-Python-Programming-in-DA-and-ML/blob/master/Day1Session2ExcersicePrograms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a program to print the triangle 

i/p  4

1

2    3

3    4   5

4    5   6   7

In [7]:
n=int(input("Enter number:"));
for i in range(n+1):
    c=i
    for j in range(1,i+1):
        print(c, end=" ")
        c=c+1
    print('')

Enter number:4

1
2 3
3 4 5
4 5 6 7

2.Write a program to print the triangle

In [1]:
rows = 4
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')

    print("\r")

*
* *
* * *
* * * *

3.Write a program to print the traingle

Enter number 5

5

4 5

3 4 5

2 3 4 5

1 2 3 4 5

In [8]:
n=int(input("Enter number:"));
for i in range(n+1):
    c=n-i+1
    for j in range(n,n-i,-1):
        print(c, end=" ")
        c=c+1
    print('')

Enter number:5

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

4.Write a program to print the triangle 

Enter number 5

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

In [2]:
rows = 5
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

5.Write a program to print the triangle 

Enter number 4

1 2 3 4

2 3 4

3 4

4

3 4

2 3 4

1 2 3 4

In [9]:
n=int(input("Enter number:"));
for i in range(n):
    for j in range(i+1,n+1,1):
        print(j, end=" ")
    print('')
for i in range(2,n+1):
    c=n-i+1
    for j in range(n,n-i,-1):
        print(c, end=" ")
        c=c+1
    print('')

Enter number:4
1 2 3 4
2 3 4
3 4
4
3 4
2 3 4
1 2 3 4

6.Find the length of a string without using len functions

In [10]:
str = input("Enter a string: ")
counter = 0
for s in str:
      counter = counter+1
print("Length of the input string is:", counter)

Enter a string: nanditha
Length of the input string is: 8

7.Find the no of words and characters in a string

In [11]:
string=input("Enter string:")
char=0
word=1
for i in string:
      char=char+1
      if(i==' '):
            word=word+1
print("Number of words in the string:")
print(word)
print("Number of characters in the string:")
print(char)

Enter string:This is Alvas
Number of words in the string:
3
Number of characters in the string:
13

8.Find the no of occurrences of a word in a string

In [14]:
string = "python is Strongly typed and Dynamically typed language"
substring = "typed"

count = string.count(substring)

# print count
print("The count is:", count)

The count is: 2